/* About Section */
.about {
  padding: 90px 20px;
  text-align: center;  /* Mantiene el texto centralizado cuando sea aplicable */
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}

.about .container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
}

/* Section Title */
.about h2 {
  font-family: 'Montserrat';
  font-size: 42px;
  color: #154999;
  margin-bottom: -40px;
  letter-spacing: 1.5px;
  position: relative;
  text-align: left; /* Asegura que el título esté alineado a la izquierda */
}

/* About Content */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Espacio entre el texto y la imagen */
  margin-bottom: 50px;
}

/* About Text */
.about-text {
  flex: 1; /* Toma el espacio disponible restante */
  min-width: 300px; /* Mínimo ancho del texto */
  text-align: left; /* Alineación del texto a la izquierda */
}

.about-description {
  font-family: 'Montserrat';
  font-size: 18px;
  color: #000000;
  line-height: 1.8;
  margin-bottom: 20px;
}

.about-description .highlight {
  color: #000000;
  font-weight: bold;
  font-style: italic;
}

/* About Image */
.about-image-container {
  flex: 1.5;
  max-width: 520px; /* Máximo ancho de la imagen */
  text-align: center; /* Centra la imagen dentro de su contenedor */

}

.about-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-left: 50px;
  padding-bottom: 80px;
  
}

.about-image:hover {
  transform: scale(1.05);
}

/* Stats Section */
.about-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.stat-item {
  background: linear-gradient(145deg, #ffffff, #f4f4f4);
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  box-shadow: 5px 5px 15px rgba(15, 65, 136, 0.264), -5px -5px 15px rgba(255, 255, 255, 0.7);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.stat-item:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 20px rgba(15, 65, 136, 0.264), -8px -8px 20px rgba(255, 255, 255, 0.8);
}

.stat-item h3 {
  font-family: 'Montserrat';
  font-size: 22px;
  color: #0f172a;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.stat-item p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #6b7280;
}

.stat-item:hover h3 {
  color: #154999;
}

.stat-item:hover p {
  color: #4b5563;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .stat-item {
    width: 100%;
  }
}
