/* Pie de Página */
.pie-pagina {
  background: linear-gradient(to bottom,#a7bbd9 ,#526e98 ); /* Modern dark theme gradient */
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    position: relative;
  }
  
  .pie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Navegación */
  .pie-nav,
  .pie-social,
  .pie-legal,
  .pie-logos {
    flex: 1 1 200px;
  }
  
  .pie-nav h3,
  .pie-social h3,
  .pie-legal h3,
  .pie-logos h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-bottom: 15px;
    color: #526e98;
  }
  
  .pie-nav ul,
  .pie-social ul,
  .pie-legal ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pie-nav li,
  .pie-social li,
  .pie-legal li {
    margin-bottom: 10px;
  }
  
  .pie-nav a,
  .pie-social a,
  .pie-legal a {
    text-decoration: none;
    color: #d1d5db;
    transition: color 0.3s ease;
  }
  
  .pie-nav a:hover,
  .pie-social a:hover,
  .pie-legal a:hover {
    color: #526e98;
  }
  
  /* Logos */
  .pie-logos .logo {
    max-width: 100px;
    margin: 10px;
    display: inline-block;
  }
  
  /* Bottom Section */
  .pie-bottom {
    margin-top: 40px;
    font-size: 14px;
    color: #d1d5db;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .pie-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .pie-nav,
    .pie-social,
    .pie-legal,
    .pie-logos {
      flex: none;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .pie-logos .logo.tamano-grande {
    max-width: 250px; /* Ajusta este valor según sea necesario */
    margin: 10px;
}
.scroll-to-top {
  position: fixed;
  bottom: 70px; /* Altura ajustada */
  right: 20px; /* Separación del lado derecho */
  background: none; /* Eliminar fondo */
  color:#477ed1 ; /* Color del icono */
  border: none; /* Eliminar borde */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; /* Transición suave */
}

.scroll-to-top svg {
  width: 70px; /* Ajusta el ancho del SVG */
  height: 70px; /* Ajusta la altura del SVG */
}

.scroll-to-top:hover {
  color: #0725e6b0; /* Color al pasar el ratón */
  transform: scale(1.2); /* Zoom suave */
}

.scroll-to-top:active {
  transform: scale(1.1); /* Sutil compresión al hacer clic */
}
