.text-container {
  display: flex;        
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  flex: 1;
  max-width: 900px;
  font-family: 'Montserrat';
  text-align: left;
  background: linear-gradient(rgba(164, 164, 164, 0.705), rgba(164, 164, 164, 0.705)), url('../assets/imagenes/Sostenibilidad.jpg');
  background-size: cover;       
  background-position: center;  
  border-radius: 15px;         
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);  
  padding: 30px;                
  color: #ffffff;                
  position: relative;            
  margin-bottom: 80px;
  margin-top: 80px;
  margin-left: 140px; /* Se cambiará en pantallas pequeñas */
}

.text-container h2 {
  font-size: 30px;
}

.text-container p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 15px;           
}

.text-container strong {
  font-weight: bold;
}

/* Responsive para tablets y pantallas medianas */
@media (max-width: 1024px) {
  .text-container {
    max-width: 80%;
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto;
  }
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .text-container {
    max-width: 90%;  /* Más ancho en pantallas pequeñas para mejor lectura */
    margin: 0 auto;  /* Centra completamente el contenedor */
    text-align: center; /* Centra el texto */
  }

  .text-container h2 {
    font-size: 28px;
  }

  .text-container p {
    font-size: 17px;
  }
}

/* Responsive para móviles pequeños */
@media (max-width: 480px) {
  .text-container {
    max-width: 95%;
    padding: 20px; /* Reducir el padding para móviles */
    margin: 0 auto;  /* Centrado horizontal */
    text-align: center; /* Asegurar que el texto esté centrado */
  }

  .text-container h2 {
    font-size: 24px;
  }

  .text-container p {
    font-size: 16px;
  }
}

/* Responsive para móviles muy pequeños */
@media (max-width: 320px) {
  .text-container {
    max-width: 100%;
    padding: 15px; /* Espaciado reducido */
    margin: 0 auto; 
    text-align: center;
  }

  .text-container h2 {
    font-size: 22px;
  }

  .text-container p {
    font-size: 14px;
  }
}